/* Mobile Views */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    width: 100%;
    max-width: 767px;
    height: 900px;
  }
  
  section {
    text-align: center;
    background-color: #ffb6c1;
    border: solid black 1px;
  }


}

/* Tablet Views */
@media only screen and (min-width: 768px) and (max-width: 960px) {
  body {
    width: 960px;
    height: 1160px;
  }

  section {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: lightblue;
    border: solid black 1px;
  }
}
 
/* Desktop Views */
@media only screen and (min-width: 961px) {
  body {
    width: 961px;
    height: 1161px;
    max-width: 1200px;
    max-height: 1600px;
  }

  section {
    width: 100%;
    /* height: auto; */
    text-align: center;
    background-color: lightgreen;
    border: solid black 1px;
  }
}